body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

#map {
    width: 70%;
    height: 100%;
}

.sidebar {
    width: 30%;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
}

#vehicle-list {
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: calc(100% - 160px);
}

#vehicle-list .vehicle-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#vehicle-list .vehicle-item:last-child {
    border-bottom: none;
}
